{
    "mrn": "//agents.api.mondoo.app/spaces/<space_id>/serviceaccounts/<service_account_id>",
    "space_mrn": "//captain.api.mondoo.app/spaces/<space_id>",
    "private_key": "<private_key>",
    "certificate": "<certificate>",
    "api_endpoint": "https://us.api.mondoo.com"
}